@use '../mixins/responsive';
@use "../vars";

@keyframes circle {
  0% {
    transform: translate(0, 0) skew(140deg, 25deg) scale(1.1) rotate(0deg);
  }

  25% {
    transform: translate(80px, -80px) skew(180deg, 35deg) scale(.9) rotate(90deg);
  }

  50% {
    transform: translate(160px, 0) skew(140deg, 25deg) scale(1.1) rotate(180deg);
  }

  75% {
    transform: translate(80px, 80px) skew(180deg, 35deg) scale(.9) rotate(270deg);
  }

  100% {
    transform: translate(0, 0) skew(140deg, 25deg) scale(1.1) rotate(360deg);
  }
}

.complex {
  background-color: #F3F3F3;
  position: relative;
  background-image: url("/src/icons/bg-dark-left.svg"), url("/src/icons/bg-dark-right.svg");
  background-position: bottom left, bottom right;
  background-size: 80px;
  background-repeat: no-repeat;
  .complex__shape {
    position: absolute;
    bottom: 260px;
    transform-origin: 50% 50%;
    animation: circle 35s linear infinite;
  }

  &__shape-container {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    //counter-reset: number;
  }

  &__item {
    padding: 24px;
    background: vars.$white;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    position: relative;
    min-height: 233px;
    max-width: 588px;
    min-width: 588px;
    background-position: bottom right;
    background-repeat: no-repeat;

    &--1 {
      background-image: url('../icons/complex/complex1bg.png');
      background-size: 500px;
    }

    &--3 {
      background-image: url('../icons/complex/complex3bg.png');
    }

    &--5 {
      background-image: url('../icons/complex/complex5bg.png');
      background-size: 265px;
    }
    img {
      max-width: 80px;
      max-height: 80px;
    }
    &--color {
      background-color: vars.$blue;
      p {
        color: white;
      }
      .complex__item-content {
        max-width: 330px;
      }
    }
    &-title {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: 12px;
      color: white!important;
      display: flex;
      align-items: center;
      &:hover svg {
        transform: rotate(45deg);
      }
      svg {
        transition: .3s;
      }
    }
    &-text {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: #90949A;
    }
    //&:before {
    //  counter-increment: number;
    //  content: counter(number);
    //  position: absolute;
    //  font-size: 24px;
    //  font-style: normal;
    //  font-weight: 500;
    //  line-height: 120%;
    //  color: #90949A;
    //  top: 24px;
    //  left: 24px;
    //}
  }
}
