@use '../mixins/responsive';
@use "../vars";

.opacity-scroll {
  opacity: 0;
  transition: opacity 2s;
}

.scroll-class {
  opacity: 1;
}

.production {
  background: vars.$white;
  position: relative;
  z-index: 1;
  .slick-list {
    overflow: visible;
    .slick-track {
      display: flex;
      gap: 20px;
    }
  }
  h2 {
    font-size: 110px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 110px */
    letter-spacing: -4.4px;
    color: vars.$black;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }

  &__slider-item {
    position: relative;
    padding: 24px;
    background: #F3F3F3;
    max-height: 440px;
    height: 440px;
    min-height: 440px!important;
    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
    cursor: grab;
    &:before, &:after {
      position: absolute;
      width: 100px;
      height: 100px;
      background: vars.$white;
      content: '';
      z-index: 0;
    }

    &:before {
      bottom: 100px;
      right: 0;
    }
    &:after {
      bottom: 0;
      right: 100px;
    }
    &:active {
      cursor: grabbing;
    }
    &:hover {
      img {
        width: 100%;
        height: 100%;
      }
     .production__slider-item-title h4 {
        color: vars.$white;
     }
     .production__slider-item-link {
       background: vars.$blue;
       border: 1px solid vars.$blue;
       svg path {
         stroke: #ffffff;
         fill: #ffffff;
       }
     }
    }
    &-title {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      position: relative;
      z-index: 2;
      transition: .3s;
    }
    img {
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 0;
      right: 0;
      transition: .3s;
      z-index: 1;
    }
    &-link {
      width: 56px;
      height: 56px;
      border-radius: 999px;
      border: 1px solid #DBDBDB;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      transition: .3s;
      svg {
        * {
          transition: .3s;
        }
        transform: rotate(315deg);
      }
    }
  }

  .btn__big-gray {
    margin: 40px auto 0 auto;
  }


}
