@use '../mixins/responsive';
@use "../vars";

.residents {
  padding-bottom: 0;
  &__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    counter-reset: number;
    &-item {
      flex-basis: 8%;
      display: flex;
      align-items: flex-end;
      position: relative;
      transition: .5s ease-in-out;
      &:hover {
        box-shadow: 0 0 11px 4px #ebebeb;
        border-radius: 8px;
      }
      img {
        max-width: 177px;
        transition: ease-in-out .5s;
      }
      &-text {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
      }
    }
  }
}
