@use '../mixins/responsive';
@use "../vars";

.slick-arrow {
  width: 52px;
  height: 52px;
  position: absolute;
  bottom: -92px;
  background-color: vars.$white;
  background-image: url("/src/icons/arrow-blue-left.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  border: 1px solid #E9E9EA;
  left:50%;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    opacity: .6;
    background-image: url("/src/icons/arrow-black-left.svg");
  }
}

.slick-next.slick-arrow {
  transform: translateX(0px);
  &:hover {
    transform: translateX(0px) rotate(180deg);
  }
}

.slick-prev.slick-arrow {
  transform: translateX(-52px) rotate(180deg);
  &:hover {
    transform: translateX(-52px);
  }
}

.slick-dots {
  position: absolute;
  bottom: -54px;
  display: flex;
  gap: 8px;
  left: 50%;
  transform: translateX(-50%);
  li {
    list-style: none;
    transition: .5s;
    button {
      height: 8px;
      background-color: #F3F3F3;
      width: 49px;
      border: none;
      font-size: 0;
      transition: .5s;
    }
    &.slick-active button {
      width: 8px;
      background: vars.$blue;
    }
  }
}

.swiper-pagination {
  bottom: -75px !important;
  width: 50%!important;
  left: 50%!important;
  transform: translateX(-50%)!important;
  &-bullet {
    position: relative;
    width: 32px;
    max-width: 32px;
    border-radius: 2px;
    background: #F3F3F3;
    margin: 0 4px;
    opacity: 1!important;
    transition: .1s;
    &-active {
      min-width: 100px;
    }
  }
}

.swiper-slide-progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: vars.$blue;
  border-radius: 2px;
}
