mixin footer()
  footer.footer
    .container
      .footer__wrapper
        .footer__links
          a.footer__link.footer__link-tel(href="tel:+79636005665") +7 963 600-56-65
          a.footer__link.footer__link-email(href="mailto:poletfen1ksa@yandex.ru") poletfen1ksa@yandex.ru
        .footer__address
          p Адрес
          p МО, Дмитровский район, рабочий
            br
            |поселок Некрасовский, Северная 10
      .footer__bot
        .footer__bot-wrp
          p © Полет феникса, 2023
          a(href="") Политика конфиденциальности
        .footer__dev
          p
            span Сайт сделал&nbsp;
            a(href="https://kompot.bz" target="_blank") «Компот»
