mixin footer()
  footer.footer(data-scroll-section data-scroll-id="footer")
    .container
      .footer__main
        .footer__left
          a.footer__logo
            img(src=require("../../icons/logo.svg") alt="logo")
          .footer__social
            a.footer__social-link
              img(src=require("../../icons/social/tg.svg") alt="telegram")
            a.footer__social-link
              img(src=require("../../icons/social/youtube.svg") alt="youtube")
            a.footer__social-link
              img(src=require("../../icons/social/wa.svg") alt="wa")
        .footer__links
          a.footer__link(href="javascript:void(0);") Продукты
          a.footer__link(href="javascript:void(0);") Кейсы
          a.footer__link(href="javascript:void(0);") Услуги
          a.footer__link(href="javascript:void(0);") О компании
          a.footer__link(href="javascript:void(0);") Контакты
        .footer__contacts
          p Все условия и предложения уточняйте
            br
            | у менеджеров по телефону
          a.footer__tel(href="tel:+78007073187") 7 (800) 707-31-87
          a.btn__big-blue(href="javascript:void(0);") Узнать больше
      .footer__bot
        p Все права защищены. ООО «Автоматизиация Фабрик» © 2023
        a(href="javascript:void(0);") Политика конфиденциальности данных
        .footer__development
          span Сделано в&nbsp;
          a(href="https://kompot.bz") «Компот»




