mixin header__burger()
  .header__burger
    .header__burger-close
    .header__burger-content
      .header__burger-accordion-list.accordion
        .header__burger-accordion-item Продукты
          .header__burger-accordion-content
            a Все производства
            a Алкогольное
            a Медицинское
            a Пищевое
            a Пищевое
            a Пищевое
            a Пищевое
            a Пищевое
        .header__burger-accordion-item Услуги
          .header__burger-accordion-content
            a Услуга 1
            a Услуга 2
            a Услуга 3
            a Услуга 4
            a Услуга 5
        a.header__burger-accordion-item.no-accord Кейсы
        a.header__burger-accordion-item.no-accord О компании
        a.header__burger-accordion-item.no-accord Контакты

