mixin header__address()
  .header__address
    .header__address-close
    .header__address-content
      h3 Адреса
      .header__address-list
        a.header__address-link(href="javascript:void(0);") г.Москва, Саввинская наб. 23 стр 1.
          br
          | БЦ «Московский шёлк»
        a.header__address-link(href="javascript:void(0);") г. Санкт-Петербург, ул. Мирная 56, дом 342
        a.header__address-link(href="javascript:void(0);") г. Москва, Саввинская наб. 23 стр 1.
        a.header__address-link(href="javascript:void(0);") г. Санкт-Петербург, ул. Мирная 56, дом 342
