mixin header__search()
  .header__search
    .header__search-close
    .header__search-content
      .container
        form
          img.header__search-logo(src=require("../../icons/logo.svg") alt="logo")
          input.header__search-input(type="text" placeholder="Что будем искать?" required)
          button.header__search-submit(title="Перейти к результату поиска")
            <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg" class="search-icon" data-v-61e15438=""><circle cx="11" cy="11" r="10" stroke="white" stroke-width="2" data-v-61e15438=""></circle> <line x1="18.6585" y1="18.2474" x2="26.6585" y2="25.2474" stroke="white" stroke-width="2"></line></svg>
    .header__search-result
      .container
        .header__search-result-wrp
          button.header__search-result-close
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости
          a.header__search-result-link(href="javascript:void(0);") Автомат этикетировочный AM Labeling machine
          a.header__search-result-link(href="javascript:void(0);") Медицинское оборудование
          a.header__search-result-link(href="javascript:void(0);") Наши кейсы
          a.header__search-result-link(href="javascript:void(0);") О компании
          a.header__search-result-link(href="javascript:void(0);") Новости

